  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@400;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    color: #353535;
}
p{
  font-size: 14px;
  color: #555;
}

ul{
  list-style: none;
}

/* header area */
.header-area {
  background: #0872b9;
  color: #fff;
  padding: 10px 0;
}
.header-area .header-left ul {
  gap: 30px; 
  }
.header-area .header-right ul li a {
  color: #fff !important; 
}
.header-area .header-right ul li a :hover{
  color: #353535; 
}
.header-area .header-right ul {
  display: flex;
  gap: 15px;
  float: right;
  margin: 0;
}

.header-left h6{
  color: #fff;
}

/* menu-area */
#NavMenu {
  transition: all .3s linear;
  padding: 10px 0; 
  background: #fff;
}
  #NavMenu .button {
    display: none; }
    .offcanvas{
      display: none;
    }
  #NavMenu .my-menu {
    grid-gap: 5px; }
    #NavMenu .my-menu .nav-item .nav-link {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      color: #353535; }
    #NavMenu .my-menu .nav-item :hover,
    #NavMenu .my-menu .nav-item .active {
      color: #0872b9; }
  #NavMenu .offcanvas .socail-item {
    padding: 50px 0;
    text-align: center;
    gap: 20px; }
    #NavMenu .offcanvas .socail-item li {
      width: 40px;
      height: 40px;
      line-height: 45px;
      text-align: center;
      background: linear-gradient(#202020 20%, #4b4949 50%);
      box-shadow: 0 4px 8px #97999d;
      transition: all .3s linear;
      cursor: pointer; }
      #NavMenu .offcanvas .socail-item li :hover {
        transform: translateY(-5px);
        background: #0f06c1 !important; }
      #NavMenu .offcanvas .socail-item li i {
        color: #fff; 
      }


/* hero-area */
.hero-area{
  padding: 85px 0;
  background: url(../img/hero-bg.png) no-repeat;
  background-size: cover;
}
.hero-area h1{
  color: #fff;
}
.hero-area h2{
  color: #fff;
}
.hero-area p{
  color: #fff;
}
.hero-part{
  text-align: right;
}


.hero-part h1{
  padding: 10px 0 20px 0;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}
.hero-part p{
  padding-bottom: 30px;
}
.btn-area a{
  color: #fff;
}

.btn-area .btn{
  background:#0872b9;
  padding: 6px 20px;
  margin-left: 15px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

.btn2{
  background: transparent !important;
  border: 1px solid #fff;
}
.btn2:hover{
  border: 1px solid#fff;
}

/* about-area */

.about-area{
  padding: 30px 0;
}

.section-title{
  text-align: center;
  padding: 30px 0;
}

.about-content{
  padding-top: 25px;
}
.about-content p{
  padding-bottom: 20px;
}


/* service-area */

.service-area{
  padding: 10px 0 40px 0;
}
.section-title{
  text-align: center;
  padding-bottom: 30px;
}
.img{
  transition: all .4s;
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  border-radius: 50%;
  line-height: 70px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
}
.img:hover{
  background: #0872b9;
}
.service-item-area{
  padding-top: 60px;
}
.service-item{
  position: relative;
  text-align: center;
  padding: 30px;
  background: #f1f1f1;
}
.item-title{
  padding: 20px 0 10px 0;
}

/* portfolio-area */

.protfolio-area{
  padding: 10px 0 50px 0;
}

.portfolio-img {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  margin-top: 30px;
  
}

.portfolio-img img{
  width: 100%;
}


.portfolio-img:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 46, 44, 0.6);
  z-index: 2;
}
.portfolio-hover-text  i{
  color: #fff;
  width: 50px;
  height: 50px;
  background: #0872b9;
  line-height: 50px;
  border-radius: 50%;
}

.portfolio-hover-text  {
  font-size: 25px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  transition: all .4s ease-in-out;
  color: #fff;
  opacity: 0;
}

.portfolio-img:hover .portfolio-hover-text{
  opacity: 1;
  z-index: 9;
}


/* team-area */
.team-area{
  padding: 10px 0 40px 0;
}
.team-item img{
  width: 100%;
}
.team-item{
  position: relative;
  overflow: hidden;
}
.team-icon {
  background: #272626a3;
  padding-top: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translatX(100%);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.team-item:hover .team-icon{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translatX(0);
}


.team-icon ul{
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
}
.team-icon i{
  color: #fff;
  width:40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #fff;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: all .4s;
}
.team-icon i:hover{
  background: #5bc5f4;
  border: 2px solid #5bc5f4;
}

.team-con{
  padding-top: 30px;
  text-align: center;
}
.team-con{

}
.team-con span{
display: block;
font-size: 16px;
padding-top: 10px;
}


/* Testimonial-area */


.testimonial-area{
  text-align: center;
  padding-bottom: 50px;
}

.testimonial-area .section-title{
  margin-bottom: 50px;
}
.tm-img{
  position: relative;
  bottom: 40px;
}

.testimonial-con{
  background: #f1f1f1;
  padding: 25px;
  position: relative;
}
.testimonial-con ul{
  padding-left: 0;
}
.testimonial-con ul li{
  display: inline-block;
}
.testimonial-con ul li i{
  color: #0872b9;
}
.testimonial-con p{
  padding-top: 10px;
  margin-bottom: 0;
}
.testimonial-con::before{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  top: -20px;
  left: 47%;
  transform: rotate(45deg);
  z-index: -1;
}


/* footer-area */

.footer-area{
  background: #353535;
}
.footer-area p{
  color: #fff;
}